<div class="quiz-container">
<div class="image-container">
    <img src="{{randomFluff.fields.image}}" class="img-fluid" alt="Responsive image">
</div>

<!-- Container for showing options and result -->
<div class="options-container">

<!-- options and counter -->
<div *ngIf="!selectedBreedOpt; else showResult">
<div class="card-container">  
    <a class="card" *ngFor="let breedOpt of breedOptions" (click)="onSelect(breedOpt)"  rel="noopener">
      
      <p id="icon"><img src="https://img.icons8.com/offices/20/000000/rabbit.png"/></p>   
      <span>{{breedOpt.fields.name}}</span>    
    </a>
    
</div>

<div class="counter">
  Question {{ counter }} from 5
</div>
</div>
<!-- end of options and counter  -->
</div>

<!-- Template for showing the result -->
<ng-template #showResult>
  <div style="flex-direction: column; ">
  <div class="card-container">
    <div class="message" [ngClass] ="guessed ? 'guessed-right' : 'guessed-wrong'">{{message}}</div>
  
      <button *ngIf="counter < 5" class="nextButton" (click)="generateQuestion()">Next question</button>
    </div>
    
    <div *ngIf="counter == 5" class="result">
      <div class="counter">Your score is {{ score }} out of 5!</div>
      <div *ngIf="score > 3"class="counter">GREAT JOB!</div>
      <button class="playAgainButton" (click)="ngOnInit()">PLAY AGAIN</button>
    </div>
  </div>
  </ng-template>

</div>



<!-- <div  *ngFor="let breed of breeds"  rel="noopener">
      
  <img src="{{breed.fields.image}}" class="img-fluid" alt="Responsive image"/> 
  <p>{{breed.fields.name}}</p>    
</div> -->
