* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    /* box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .quiz-container {
    display: flex;
  }
  .content {
    display: flex;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    display: flex;
  }

  span {
    flex-grow:1;
    text-align:center;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(135, 129, 189, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }



  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
    height: 450px;
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
  }

  .options-container {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }


  .img-fluid {
    max-height: 400px;
    margin: auto;
    display: block;
  }

  .message {
      border-radius: 4px;
      border: 1px solid #eee;
      background-color: #fafafa;
      height: 75px;
      max-width: 300px;
      margin: 0 8px;
      padding: 16px;
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
      text-align: center;
  }

  .guessed-right {
    background-color: #93cf93;
  }

  .guessed-wrong {
    background-color: #dd9898;
  }
  .nextButton {
    background-color: #1976d2;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-color: rgb(73, 73, 212);
  }

  .playAgainButton {
    background-color: #1976d2;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-color: rgb(73, 73, 212);
    padding: 25px;
  }

  .nextButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 17px rgba(146, 155, 179, 0.137);
    cursor: pointer;
  }

  .result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .playAgainButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 17px rgba(146, 155, 179, 0.137);
    cursor: pointer;
  }

  .counter {
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 20px
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {


    .quiz-container {
      display: block;
    }

    .card:not(.highlight-card) {
      max-height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    .image-container {
      height: 250px;
    }

    

    .img-fluid {
      max-width: 100%;
      max-height: 250px;
    }
    
    .nextButton {
      
      max-width: 300px;
      margin: 0 8px;
      padding: 16px;
      display: flex;
      flex-direction: row;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
      cursor: pointer;
      margin-top: 15px;
      
    }
  }


  